*{
	
	/* css reset*/
	padding:0;
	margin:0;
}
h1{
	text-align: center;
	margin: 15px;
}
#wrapper{
	width: 380px;px;
	height:300px;
	background-image: url(desert.jpg) ;
	margin: 35px auto;
	background-size: cover;
	background-position: center;
	position:relative;
	border:1px solid #000;
}
#wrapper > p {
	font-size:12pt;
	width:360px;
	text-align: center;
	color: rgba( 255,255,255,0);
	position: absolute;
	bottom:0;
	left:0;
    padding:10px;
	background-color: rgba(0, 0, 0, 0);
}
#wrapper:hover > p {
	color: rgba(255,255,255,0.5);
	background-color: rgba(0, 0, 0,0.5);
	text-decoration: underline;
}
#wrapper > p:hover{
	cursor:pointer;
	text-decoration: underline;
}